#config file, please change values as appropriate
#do NOT insert any spaces
#do NOT insert comments after values, use seperate lines
#do not use any variable names in comment
#all paramaters with 1 refer to the config audit, all others to the login audit

#audit names
auditName1:Config_Audit
auditName2:Login_Audit

#audit file location, broken down into different variables
#slashes are inserted automatically
drive:D
mainFolder:Program Files\Microsoft SQL Server
subFolder:Audit_Logs
mainArchive:Maintenance_Audit_Logs_Archive


#folders for config and audit
logFolder1:Config_Audit_Logs
logFolder2:Login_Audit_Logs
archiveFolder1:Archive_Config_Audit
archiveFolder2:Archive_Login_Audit

#how long are the files stored for in days until deletion
archiveDuration:90

#audit parameters
#in mb
fileSize:100
#if you select zero, the number of rollover files is unlimited
#the maximum value you can enter otherwise is 2147483647
nrFiles:0
#in milliseconds
delay:1000


#audit specification parameters for the config audit
specName1:Config_Audit_Specification
action1:DatabaseChangeGroup
action1:SchemaObjectChangeGroup
action1:ServerObjectChangeGroup
action1:ServerOperationGroup
action1:ServerStateChangeGroup


#audit specification parameters for the login audit
specName2:Login_Audit_Specification
action2:ApplicationRoleChangePasswordGroup
action2:DatabasePermissionChangeGroup
action2:DatabasePrincipalChangeGroup
action2:DatabaseRoleMemberChangeGroup
action2:FailedDatabaseAuthenticationGroup
action2:FailedLoginGroup
action2:LoginChangePasswordGroup
action2:SchemaObjectPermissionChangeGroup
action2:ServerPermissionChangeGroup
action2:ServerPrincipalChangeGroup
action2:ServerRoleMemberChangeGroup
action2:UserChangePasswordGroup








